<% layout('layouts/boilerplate.ejs') %>

<div class="row mt-3">
    <div class="col-8 offset-2">
      <br>
  <h3>Add a new Listing</h3>
  <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input id="title" type="text" name="listing[title]" placeholder="Enter the Title" class="form-control" required/>
       <div class="valid-feedback">Title is Perfect!</div>
    </div>
   
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input id="description" type="text" name="listing[description]" placeholder="Enter your Description" class="form-control" required/>
      <div class="invalid-feedback">Description is not enough!</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Upload Listing Image</label>
      <input id="image" type="file" name="listing[image]"  class="form-control" required/>
      
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input id="price"  name="listing[price]" placeholder="Enter the Price" class="form-control" required/>
    <div class="invalid-feedback">Invalid Price Range!</div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input id="country" type="text" name="listing[country]" placeholder="Enter the Country Name" class="form-control" required/>
    </div>
    <div class="invalid-feedback">Invalid Country!</div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input id="location" type="text" name="listing[location]" placeholder="Enter the Location" class="form-control" required/>
    <div class="invalid-feedback">InValid Location!</div>
    </div>

    <br>
      <button class="btn btn-dark add-btn mt-3">Submit!</button>
  </form>
  </div>
  </div>
